html,
body {
  width: inherit;
  height: inherit;
}

body {
  /*display: flex;*/
  /*align-items: center;*/
  /*padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("testpic.jpg");
  background-position: center;
  background-size: cover;
}




h1{
  /*LOGIN*/
  color: #43425D;
}

h2{
  /*Welcome Message*/
  color: #4D4F5C;
  opacity: 0.5;
}

h3{
  /*EBXC Logo*/
  font: normal normal bold 70px/23px Helvetica;
  position: absolute;
  color: #43425D;
  letter-spacing: 14px;
}
