html,
body {
  width: inherit;
  height: inherit;
}

body {
  /*display: flex;*/
  /*align-items: center;*/
  /*padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("testpic.jpg");
  background-position: center;
  background-size: cover;
}

.form-signin {
  /*Used bootstrap preset margin and padding but a little undersized*/
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-style: inherit;
  border-color: black;
  box-shadow: 0px 5px 10px #3333331A;
}


.form-signin input{
  font: normal normal normal 22px/30px Helvetica !important;
  opacity: 0.7;
}


h1{
  /*LOGIN*/
  color: #43425D;
}

h2{
  /*Welcome Message*/
  color: #4D4F5C;
  opacity: 0.5;
}

h3{
  /*EBXC Logo*/
  font: normal normal bold 70px/23px Helvetica;
  position: absolute;
  color: #43425D;
  letter-spacing: 14px;
}
